@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');

:root {
  --primary-color: rgb(33, 150, 243);
  --font-color: rgb(33, 33, 33);
  --detail-color: rgb(117, 117, 117);
  --detail2-color: rgb(255, 255, 255);
  --button-color: rgb(245, 244, 250);
  --background-color: rgb(47, 48, 58);
  --icon-color: rgb(175, 177, 184);
}
body {
  font-family: 'Roboto', sans-serif;
  color: var(--font-color);
  box-sizing: border-box;
}
.container {
  width: 1200px;
  margin: 0 auto;
}

.list {
  list-style-type: none;
}

.icono {
  color: var(--primary-color);
  text-align: right;
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-decoration: none;
  width: 145px;
  height: 31px;
}
.header__navegation .header__link {
  color: var(--font-color);
  font-size: 14px;
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.header__section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
.header__navegation .header__link:hover {
  color: var(--primary-color);
}
.header__navegation .header__link:focus {
  color: var(--primary-color);
}
.header__link.current {
  color: var(--primary-color);
}
.contac__list .contac__link {
  color: var(--detail-color);
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contac__list .contac__link:hover {
  color: var(--primary-color);
}
.contac__list .contac__link:focus {
  color: var(--primary-color);
}

.main__apertura {
  color: var(--detail2-color);
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  margin: 0;
}

.button__solicite {
  color: var(--detail2-color);
  background-color: var(--primary-color);
  width: 261px;
  height: 50px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border-radius: 4px;
  align-items: center;
  justify-items: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  text-decoration: none;
}
.button__solicite:hover {
  color: var(--detail-color);
  background-color: var(--button-color);
  cursor: pointer;
}
.button__solicite:focus {
  color: var(--detail-color);
  background-color: var(--button-color);
}

.main__metodología {
  color: var(--detail-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.metodología__item {
  color: var(--font-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0;
}
.dedicación {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 55px;
  margin-top: 230px;
}
.nuestro__equipo {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  margin-top: 188px;
  margin-bottom: 50px;
}
.integrantes {
  color: var(--font-color);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.12;
  letter-spacing: 0.03em;
}
.cargo {
  color: var(--detail-color);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.12;
  letter-spacing: 0.03em;
  text-transform: capitalize;
}

.filtro__item {
  width: 322px;
  height: 36px;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  text-transform: capitalize;
  margin: 0;
  padding: 20px 24px 0 24px;
}
.info__category {
  color: var(--detail-color);
  width: 322px;
  height: 36px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87;
  letter-spacing: 0.03em;
  margin: 0;
  padding: 0 24px 20px 24px;
}

.location {
  text-decoration: none;
  color: var(--detail2-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.location:hover {
  color: var(--primary-color);
}
.location:focus {
  color: var(--primary-color);
}

.footer {
  display: flex;
  color: var(--detail2-color);
  background-color: var(--background-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  height: 252px;
  padding-top: 60px;
}
.footer__contac {
  color: var(--detail-color);
  font-size: inherit;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.footer__contac:hover {
  color: var(--primary-color);
}
.footer__contac:focus {
  color: var(--primary-color);
}

/* sección de cajas header */

.nav {
  display: flex;
  gap: 90px;
  align-items: center;
}
.box__icono {
  margin-right: 93px;
  padding-left: 215px;
}
.header__navegation {
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 0;
}
.contac__list {
  display: flex;
  column-gap: 50px;
  align-items: center;
}

/* sección de cajas apertura */

.container__apertura {
  background-color: var(--background-color);
  height: 600px;
  background-image: linear-gradient(to bottom, #2f303a66, #2f303a66),
    url(/images/imagen-fondo/Imagen.png);
}

.box__apertura {
  width: 696px;
  height: 120px;
  padding: 200px 452px 30px 452px;
}
.buttombox__apertura {
  width: 261px;
  height: 50px;
  padding: 0 669px 200px 670px;
}

/* sección para cajas metodología */

.container__metodología {
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
  padding: 0;
  margin-top: 95px;
  margin-bottom: 94px;
}

.box__metodo {
  width: 270px;
  height: 101px;
  margin: 0;
}

/* sección de cajas dedicación*/

.images__dedicación {
  display: flex;
  column-gap: 30px;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

/* sección de cajas para equipo  */

.img__equipo {
  display: flex;
  justify-content: space-between;
  column-gap: 37px;
  padding: 0;
  margin: 0 0 94px 0;
}
.box__integrante {
  background-color: var(--detail2-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

/* sección de cajas para footer */
.boxicon__footer {
  width: 145px;
  height: 31px;
}

.boxcontac__footer {
  width: 231px;
  height: 92px;
}

.box__dirección {
  padding: 0;
}

/* De aqui en adelante empiezan las cajas para "portafolio" */

/* sección para cajas de filtros ---------------------------------------------------------------------------------- */

.button__item {
}
.button__filtros {
  display: flex;
  column-gap: 8px;
  padding: 0;
  justify-content: center;
}
.button__category {
  color: var(--font-color);
  width: 73px;
  height: 38px;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border-radius: 4px;
  background: var(--detail2-color);
  border-bottom: none;
  border: 0;
  margin-bottom: 50px;
}
.button__category:hover {
  background-color: var(--primary-color);
  color: var(--detail2-color);
}
.button__category:focus {
  background-color: var(--primary-color);
  color: var(--detail2-color);
}

/* sección de cajas para categorias */

.categorias {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  padding: 0;
  margin-bottom: 82px;
}

/* esta seccion organiza los estilos de las categorias------------------------------------------------- */

.box-categoria__tecnoduck {
  width: 370px;
  height: 404px;
  border: 1px solid #eee;
  background: #fff;
}
.box-categoria__tecnoduck:hover {
  width: 370px;
  height: 404px;
  border: 1px solid #eee;
  background: #fff;
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}
.categorias .box-categoria__tecnoduck:focus {
  width: 370px;
  height: 404px;
  border: 1px solid #eee;
  background: #fff;
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}
.box-categoria__poster {
  width: 370px;
  height: 404px;
  border: 1px solid #eee;
  background: #fff;
}
.box-categoria__poster:hover {
  width: 370px;
  height: 404px;
  border: 1px solid #eee;
  background: #fff;
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}
.categorias .box-categoria__poster:focus {
  width: 370px;
  height: 404px;
  border: 1px solid #eee;
  background: #fff;
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.box-categoria__restaurante {
  width: 370px;
  height: 404px;
  border: 1px solid #eee;
  background: #fff;
}
.box-categoria__restaurante:hover {
  width: 370px;
  height: 404px;
  border: 1px solid #eee;
  background: #fff;
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}
.categorias .box-categoria__restaurante:focus {
  width: 370px;
  height: 404px;
  border: 1px solid #eee;
  background: #fff;
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}
.box-categoria__prime {
  width: 370px;
  height: 404px;
  border: 1px solid #eee;
  background: #fff;
}
.box-categoria__prime:hover {
  width: 370px;
  height: 404px;
  border: 1px solid #eee;
  background: #fff;
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}
.categorias .box-categoria__prime:focus {
  width: 370px;
  height: 404px;
  border: 1px solid #eee;
  background: #fff;
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}
.box-categoria__cajas {
  width: 370px;
  height: 404px;
  border: 1px solid #eee;
  background: #fff;
}
.box-categoria__cajas:hover {
  width: 370px;
  height: 404px;
  border: 1px solid #eee;
  background: #fff;
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}
.categorias .box-categoria__cajas:focus {
  width: 370px;
  height: 404px;
  border: 1px solid #eee;
  background: #fff;
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}
.box-categoria__inspiración {
  width: 370px;
  height: 404px;
  border: 1px solid #eee;
  background: #fff;
}
.box-categoria__inspiración:hover {
  width: 370px;
  height: 404px;
  border: 1px solid #eee;
  background: #fff;
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}
.categorias .box-categoria__inspiración:focus {
  width: 370px;
  height: 404px;
  border: 1px solid #eee;
  background: #fff;
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}
.box-categoria__edición {
  width: 370px;
  height: 404px;
  border: 1px solid #eee;
  background: #fff;
}
.box-categoria__edición:hover {
  width: 370px;
  height: 404px;
  border: 1px solid #eee;
  background: #fff;
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}
.categorias .box-categoria__edición:focus {
  width: 370px;
  height: 404px;
  border: 1px solid #eee;
  background: #fff;
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}
.box-categoria__lab {
  width: 370px;
  height: 404px;
  border: 1px solid #eee;
  background: #fff;
}
.box-categoria__lab:hover {
  width: 370px;
  height: 404px;
  border: 1px solid #eee;
  background: #fff;
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}
.categorias .box-categoria__lab:focus {
  width: 370px;
  height: 404px;
  border: 1px solid #eee;
  background: #fff;
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}
.box-categoria__negocio {
  width: 370px;
  height: 404px;
  border: 1px solid #eee;
  background: #fff;
}
.box-categoria__negocio:hover {
  width: 370px;
  height: 404px;
  border: 1px solid #eee;
  background: #fff;
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}
.categorias .box-categoria__negocio:focus {
  width: 370px;
  height: 404px;
  border: 1px solid #eee;
  background: #fff;
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.filtro__todo {
  width: 73px;
  height: 38px;
}
.filtro__sw {
  width: 128px;
  height: 38px;
}
.filtro__aplicaciones {
  width: 145px;
  height: 38px;
}
.filtro__diseño {
  width: 103px;
  height: 38px;
}
.filtro__marketing {
  width: 130px;
  height: 38px;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------- */

.iconos__metodología {
  display: flex;
  column-gap: 230px;
  justify-content: center;
  padding: 0;
  margin-bottom: 55px;
}
.metodología__iconitems {
  width: 70px;
  height: 70px;
}

.iconos__equipo {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 0;
  margin-top: 28px;
  margin-bottom: 42px;
}
.equipo__iconitem {
  color: var(--icon-color);
}
.clientest {
  margin-top: 153px;
}
.iconos__clientes {
  display: flex;
  column-gap: 30px;
  justify-content: center;
  padding: 0;
}
.clientes__iconitems:hover {
}
.clientes__iconitems {
  width: 106px;
  height: 52px;
  margin: 14px 32px;
}
.boxicon__clientes {
  width: 170px;
  height: 81px;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  margin-bottom: 151px;
}

.encuentrenos {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-left: 82px;
  margin-bottom: 0;
}

.footer__section {
  display: flex;
}

svg {
  fill: currentColor;
  width: 20px;
  height: 20px;
}
a {
  color: currentColor;
  text-decoration: none;
}
.icon-item {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--icon-color);
  background-color: var(--detail2-color);
  border-radius: 50%;
}
.icon-item:hover {
  color: white;
  background-color: var(--primary-color);
}

.icon-item2 {
  width: 106px;
  height: 52px;
  align-items: center;
  justify-content: center;
  color: var(--icon-color);
}
.icon-item2:hover {
  color: var(--primary-color);
  border-color: var(--primary-color);
  cursor: pointer;
}
.boxicon__clientes:hover {
  border-color: var(--primary-color);
}
.iconos__encuentrenos {
  display: flex;
  gap: 10px;
  margin-left: 40px;
}
.icon-item3 {
  display: flex;
  gap: 10px;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--detail2-color);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}
.icon-item3:hover {
  color: var(--detail2-color);
  background-color: var(--primary-color);
  cursor: pointer;
}
